<form action="/config" method="POST">
  <div class="row">
    <div class="six columns">
      <label for="elasticsearchLocation">Elasticsearch 5.x API URL</label>
      <input class="u-full-width" type="text" placeholder="http://localhost:9300" id="elasticsearchLocation" name="elasticsearchLocation">
    </div>
  </div>
  <input class="button-primary" type="submit" value="Go!">
</form>
